wandb/
wandb/*
Digraph.gv
graph
graph.pdf
graph_obs
graph_obs.pdf
graph_smallmodel
graph_smallmodel.pdf
output.png
code_to_generate_filter_numbers_3D/
toshare/
Data_Haifa/
graph_smallmodel_2timesss
graph_smallmodel_2timesss.pdf
graph_smallmodel_entiredomain
graph_smallmodel_entiredomain_2times.pdf
graph_smallmodel_entiredomain_2times_c_forward1_unconstrained
graph_smallmodel_entiredomain_2times_c_forward1_unconstrained.pdf
graph_smallmodel_entiredomain_3times
graph_smallmodel_entiredomain_3times.pdf
graph_smallmodel_without_checkpoint
graph_smallmodel_without_checkpoint_1timesteps_1Cvalue
graph_smallmodel_without_checkpoint_1timesteps_1Cvalue.pdf
graph_smallmodel_without_checkpoint_2timesteps
graph_smallmodel_without_checkpoint_2timesteps.pdf
graph_smallmodel_without_checkpoint_2timesteps_1Cvalue
graph_smallmodel_without_checkpoint_2timesteps_1Cvalue.pdf
graph_smallmodel_without_checkpoint_2timesteps_1Cvalue_Split
graph_smallmodel_without_checkpoint_2timesteps_1Cvalue_Split.pdf
graph_smallmodel_without_checkpoint_3timesteps.pdf
graph_smallmodel_without_checkpoint_4timesteps
graph_smallmodel_without_checkpoint_4timesteps.pdf
graph_smallmodel_without_checkpoint_4timesteps_1Cvalue
graph_smallmodel_without_checkpoint_4timesteps_1Cvalue.pdf


graph_smallmodel_c_forward1_unconstrained_2606
graph_smallmodel_c_forward1_unconstrained_2606.pdf
graph_smallmodel_c_forward1_unconstrained_26061
graph_smallmodel_c_forward1_unconstrained_26061.pdf
graph_smallmodel_c_forward1_unconstrained_26063
graph_smallmodel_c_forward1_unconstrained_26063.pdf
graph_smallmodel_c_forward1_unconstrained_26064
graph_smallmodel_c_forward1_unconstrained_26064.pdf
seismic-simulation-complex-media/